.jumbotron{
  padding-top: 6rem;
  background-color: #d7f5f5 ;
}
}
.jumbotron {
  padding-top: 2rem;
  background-color: #000000;
}
#galeri {
  background-color: #d7f5f5;
}
section{
  padding-top: 5rem;
}
